*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    font-family: 'Urbanist', sans-serif;
}

/* Boiler  */
:root{
    --primary-blue:#f3f7fa;
    --secondry-blue: #0070AF;
    --bg-white:#f9f6fa;
    --light-dark:#3b4954;
    --heading-color:#141F39;
    --heading-white-color:#f9f6fa;
    --para-color:#4f4f4f;
    --second-primary-blue: background-image: linear-gradient(180deg, #F3F7FA 40%, #E1F0FE00 89%);
    --underline-pink:#f3cdbd;
    --underline-yellow:#f9d415;
    --underline-primary-green:#9ae8a5;
    --underline-secondry-green:#c9ffc8;
    --underline-blue-primary:#80DEE9;
    --underline-blue-secondry:#0070af;
    
}

/* Features CSS  start */
    .happy-chef-container{
        top: 0;
        left: 10rem;
    }
    .happy-chef-img{
        width: 100px;
        height: 100px;
    }
    .start-80{
        left: 30rem;
    }
    .bg-color-lightblue{
        background-color: #ECF4F7;
    }
    .z-index-5{
        z-index: 5;
    }

/* Features CSS  end */


/* Navbar ends here  */

/* Footer  */
footer{
    background-color: var(--light-dark);
    padding: 95px 10px 10px 10px; 
    font-weight: bold;
   
}


footer li{
    padding: 0px 0px 15px 0px !important;
}

footer li a{
    color:#A2A2A4;;
    text-decoration: none;
}

footer a:hover{
    color: gray;
}

footer p{
    color: var(--bg-white);
    font-weight: 200;
}

footer h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--heading-white-color);
}

.social-icone i{
    color: var(--bg-white);
    border: 1px solid var(--bg-white);
    border-radius: 50%;
    padding: 5px;
    margin: 0px 3px;
    font-size: 10px;

}
.reCAPTCHA{
    color: #A2A2A4;
    font-weight: lighter;
}
.reCAPTCHA a{
    text-decoration: none;
    color: #c5c5cd;
}

footer .copyright a{
    color: #80DEE9;
    text-decoration: none;
}

footer hr{
    color: var(--heading-white-color);
    height: 5px solid var(--bg-white);
}

/* Footer end here  */