* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    font-family: 'Urbanist', sans-serif;
}

/* Boiler  */
:root {
    --primary-blue: #f3f7fa;
    --secondry-blue: #0070AF;
    --bg-white: #f9f6fa;
    --light-dark: #3b4954;
    --heading-color: #141F39;
    --heading-white-color: #f9f6fa;
    --para-color: #4f4f4f;
    --second-primary-blue: background-image: linear-gradient(180deg, #F3F7FA 40%, #E1F0FE00 89%);
    --underline-pink: #f3cdbd;
    --underline-yellow: #f9d415;
    --underline-primary-green: #9ae8a5;
    --underline-secondry-green: #c9ffc8;
    --underline-blue-primary: #80DEE9;


}

/* Features CSS  start */
.happy-chef-container {
    top: 0;
    left: 10rem;
}

.happy-chef-img {
    width: 100px;
    height: 100px;
}

.start-80 {
    left: 30rem;
}

.bg-color-lightblue {
    background-color: #ECF4F7;
}

.z-index-5 {
    z-index: 5;
}

/* Home Page styling start */
.here-section{
    padding: 35px 15px 160px 15px;
    background-color: #f3f7fa;
}

.here-section h1{
    margin-top: 30px;
    font-size: 4.5rem;
    font-weight: bolder;
}
.here-section p{
    width: 80%;
    font-size: 1.2rem;
    
}
.book-a-demo-btn{
    padding: 10px 20px;
    font-weight: bolder;
    color: var(--heading-white-color);
    background-color: var(--secondry-blue);
    border: none;
    border-radius: 8px;
}
.bi-lightning-charge-fill{
    font-size: larger;
    font-weight: bolder;
    color: var(--secondry-blue);
}

.hero-list {
    margin: 41px 0px 0px -16px;
}
.hero-list li{
    margin: 8px 0px 0px 0px;
    padding: 3px 0px;
    list-style-type: square;
}

#sales-dashboard-img{
    height: 300px;
    z-index: 3;
    position: absolute;
    top: 485px;
    left: 664px;
}

#home-page-main-slide-message{
    width: 310px;
    z-index: 3;
    position: absolute;
    top: 505px;
    right: 85px;
}

.trustedby-section{
  
}

/* Home Page styling end */


/* Contact Page styling start */
.bg-voilet{
    background-color: #0070AF;
}
.h-30{
    height: 20rem;
}
.bg-contactpage{
    background-image: linear-gradient(180deg, #F4F7FA 0%, #F4F7FA80 100%);
}

/* Contact Page styling end */



/* Contact Page styling start */
.Starter-plan{
    background-color: #dde1f7;
    color: var(--secondry-blue);
}
.text-color1-prizing{
    color: var(--para-color);
}
.text-color2-prizing{
    color: #CCCCCC;
}
.text-color3-prizing{
    color: var(--heading-color);
}
.Standard-plan-bg{
    background-color: var(--secondry-blue);
    color: #ffffff;
}
.Standard-plan{
    background-color: #ffffff;
    color: var(--secondry-blue);
}
.fs-4rem{
    font-size: 3.9rem;
}
.pricing-underline-color{
    text-decoration: underline;
    text-decoration-color: var(--underline-yellow);
}
.prize-switch-color{
    background-color: var(--secondry-blue) !important;
}
.price-Contact-us-color{
    background-color: var(--secondry-blue);
    color: #ffffff;
}
.price-bg-primaryblue{
    background-color: var(--primary-blue);
}
.price-fw-500{
    font-weight: 500;
}
.price-check-color{
    color: #2cb966;
}
.price-check-color-blue{
    color: #1b63f2;
}
.price-secondary-color{
    color: var(--secondry-blue);
}
.price-border-secondary{
    border: 1px solid #0070AF;
}
.price-plan-box-shadow{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}
.price-cross-color{
    color: #b8b8b8;
}
.price-rounded-1rem{
    border-radius: 1rem;
}
.Contact-hover:hover{
    color: #ffffff;
}
/* Contact Page styling end */


/* Benefits Page styling start */
.card {
    border-radius: 34px 34px 5px 5px !important;
}

.main {
    background-color: #f3f7fa;
}

.main .benefit_start {
    margin-top: 80px !important;
}

.title {
    font-size: 3.9rem;
    font-weight: bold;
}

.text {
    font-size: 1.12rem;
}

.button {
    /* padding: 18px;
    width: 50%; */
    background-color: var(--secondry-blue);

}

.image img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    /* Ensure the image doesn't exceed its container */
}

/* business transform component style start */
.business_transform p {

    font-size: 3.81em;
    font-weight: 400;
    line-height: 1.2em;

}

/* business transform component style end */
.business_supercharge {
    margin-top: 50px;
    background-color: var(--bg-secondry-white);
}

.business_supercharge .supercharge_title {
    font-size: 3.7rem;
    font-weight: 600;
}

.business_supercharge .supercharge_para {
    line-height: 1.68em;
    font-size: 1.75rem;
}

.progress_bar .progress {
    height: 6px;

}

.progress .progress_bar {
    background-color: var(--secondry-blue) !important;
}

/* Features CSS  end */


/* Navbar ends here  */

/* Footer  */
footer {
    background-color: var(--light-dark);
    padding: 95px 10px 10px 10px;
    font-weight: bold;

}


footer li {
    padding: 0px 0px 15px 0px !important;
}

footer li a {
    color: #A2A2A4;
    ;
    text-decoration: none;
}

footer a:hover {
    color: gray;
}

footer p {
    color: var(--bg-white);
    font-weight: 200;
}

footer h5 {
    font-size: 22px;
    font-weight: 600;
    color: var(--heading-white-color);
}

.social-icone i {
    color: var(--bg-white);
    border: 1px solid var(--bg-white);
    border-radius: 50%;
    padding: 5px;
    margin: 0px 3px;
    font-size: 10px;

}

.reCAPTCHA {
    color: #A2A2A4;
    font-weight: lighter;
}

.reCAPTCHA a {
    text-decoration: none;
    color: #c5c5cd;
}

footer .copyright a {
    color: #80DEE9;
    text-decoration: none;
}

footer hr {
    color: var(--heading-white-color);
    height: 5px solid var(--bg-white);
}

/* Footer end here  */