*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    font-family: 'Urbanist', sans-serif;
}

/* Boiler  */
:root{
    --primary-blue:#f3f7fa;
    --secondry-blue: #0070AF;
    --bg-white:#ffffff;
    --bg-secondry-white:#f6f6f6;
    --light-dark:#3b4954;
    --heading-color:#141F39;
    --heading-white-color:#f9f6fa;
    --para-color:#4f4f4f;
    --second-primary-blue: background-image: linear-gradient(180deg, #F3F7FA 40%, #E1F0FE00 89%);
    --underline-pink:#f3cdbd;
    --underline-yellow:#f9d415;
    --underline-primary-green:#9ae8a5;
    --underline-secondry-green:#c9ffc8;
    --underline-blue-primary:#80DEE9;
    --underline-blue-secondry:#0070af;
    
}

/* Home Page styling start */
/* Home Page styling end */

/* Benefits Page styling start */
.card{
    border-radius: 32px 32px 5px 5px !important;
}
  .main{
    background-color: #f3f7fa;
  }
  
.main .benefit_start{
    margin-top: 80px !important;
}
  .title {
    font-size: 3.9rem;
    font-weight: bold;
  }
  .text {
    font-size: 1.12rem;
  }
  .button {
    /* padding: 18px;
    width: 50%; */
    background-color: var(--secondry-blue);
    /* color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700; */
  }
 
  .image img {
    max-width: 100%;
    height: auto;
    max-height: 100%; /* Ensure the image doesn't exceed its container */
  }

  /* business transform component style start */
.business_transform p{
  
  font-size: 3.81em;
  font-weight: 400;
  line-height: 1.2em;
  
}

  /* business transform component style end */
.business_supercharge{
   background-color: var(--bg-secondry-white); 
}
.business_supercharge .supercharge_title{
    font-size: 3.7rem;
    font-weight: 600;
}
.business_supercharge .supercharge_para{
    line-height: 1.68em;
    font-size: 1.75rem;
}
.progress_bar .progress{
    height: 6px;
    
}
.progress .progress_bar{
    background-color: var(--secondry-blue) !important;
}




/* Benefits Page styling end */

/* case-study Page styling start */
/* case-study Page styling end */

/* Footer  */
footer{
    background-color: var(--light-dark);
    padding: 95px 10px 10px 10px;   
}

footer li{
    padding: 0px 0px 15px 0px !important;
}

footer li a{
    color:#A2A2A4;;
    text-decoration: none;
}

footer a:hover{
    color: gray;
}

footer p{
    color: var(--bg-white);
}

footer h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--heading-white-color);
}

footer .copyright a{
    color: #80DEE9;
    text-decoration: none;
}